/*EJERCICIOS 1.5*/
/*EJERCICIOS 1.5.2*/
/*EJER 1*/

.exercise1 {
    font-size: 1rem;
  }
  .smiley {
    width: 6.25rem;
    height: 6.25rem;
    line-height: 6.25rem;
    text-align: center;
    font-family: "courier new";
    font-weight: bold;
    font-size: 3.125rem;
    color: #424242;
    background: #ffcc00;
    position: fixed;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .smileyhalf {
    width: 3.125rem;
    height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    font-family: "courier new";
    font-weight: bold;
    font-size: 1.563rem;
    color: #424242;
    background: #ffcc00;
    position: fixed;
    left: 50%;
    top: 300px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .smileydouble {
    width: 12.5rem;
    height: 12.5rem;
    line-height: 12.5rem;
    text-align: center;
    font-family: "courier new";
    font-weight: bold;
    font-size: 6.25rem;
    color: #424242;
    background: #ffcc00;
    position: fixed;
    left: 50%;
    top: 450px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  /*EJER 2*/