<!-- benefits -->
<section class="benefits-wrapper">
  <h2 class="benefits-title">¿Por qué pasarte a Premium?</h2>
  <div class="benefits">
    <include
      src="./article-benefits.html"
      image="./assets/images/benefit-1.png"
      alt="Descarga música"
      title="Descarga música"
      text="Llévala siempre contigo"
    >
    </include>
    <include
      src="./article-benefits.html"
      image="./assets/images/benefit-2.png"
      alt="Sin anuncios"
      title="Sin anuncios"
      text="Disfruta de música sin interrupciones"
    >
    </include>
    <include
      src="./article-benefits.html"
      image="./assets/images/benefit-3.png"
      alt="Escucha lo que quieras"
      title="Escucha lo que quieras"
      text="Incluso en el móvil"
    >
    </include>
    <include
      src="./article-benefits.html"
      image="./assets/images/benefit-4.png"
      alt="Salta todas las canciones que quieras"
      title="Salta todas las canciones que quieras"
      text="Simplemente dale a siguiente"
    >
    </include>
  </div>
</section>
