* {
    margin: 0;
    padding: 0;
}

.body {
    height: 100vh;
}

.header {
    background-color: grey;
    height: 10%;
}

.main {
    height: 90%;
}

.main .links {
    background-color: green;
}

.main .content {
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 100%;
}

.text {
    width: 45%;
}

.main .related {
    background-color: gray;
}

.box-orange{
    background-color: orange;
    width: 120px;
    height: 120px;
    display: none;
}

@media all and (min-width: 480px) {
    .main{
        display: flex;
    }
    .box-orange{
        display: block;
    }
}

@media all and (min-width: 1000px) {
    .lateral {
        display: flex;
        flex-direction: column;
    }

}

